html, body {
  font-family: "Elice Digital Baeum",sans-serif;
  background-color: #D7CDF5;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.attie {
  display: block;
  padding-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
}

.aboutMe_img {
  display: block;
  margin: 2vh 5vh;
  margin-bottom: 30px;
  border-radius: 5%;
  max-width: 380px;
}

.aboutMe_text {
  font-size: 17px;
}

.bigBox {
  display: flex;
}

.aboutMe {
  display: inline-flex;
  position: absolute;
  padding-left: 24%;
}

h3 {
  text-align: center;
}

p{
  padding-left: 40px;
}